<% layout('layouts/boilerplate') -%>
<h1>Edit Post!</h1>

<form action="/posts/<%= post.id %>?_method=PUT" method="POST" id="postEditForm" enctype="multipart/form-data">

    <div><input type="text" name='post[title]' placeholder="Título" value='<%= post.title %>'></div>
    <div><input type="text" name='post[price]' placeholder="Precio" value='<%= post.price %>'></div>
    <div>
        <input type="file" id="imageUpload" accept="images/*" name='images' multiple />
        <div>
            <% post.images.forEach(function(image, i) { %>
                <img src="<%= image.url %>" width="100px" />
                <label for="image<%= i %>">Delete?</label>
                <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="<%= i %>" value="<%= image.public_id %>">
            <% }); %>
        </div>
    </div>
    <div><textarea name="" id="" cols="30" rows="10" name='post[decription]' placeholder="Descripción"><%= post.description %></textarea></div>
    <div><input type="text" name='post[location]' placeholder="Ubicación" value='<%= post.location %>'></div>

    <input type="submit">
</form>

<script src="/javascripts/post-edit.js"></script> 