<% layout('layouts/post-show-layout') -%>
<h1><%= post.title %></h1>
<div>Price: <%= post.price %></div>
<div><%= post.description %></div>
<div><%= post.location %></div>
<div>
    <% post.images.forEach(function(image) { %>
        <img src="<%= image.url %>" alt="Producto mg-electronica" width='200px'>
    <% }); %>
</div>
<div id='map'></div>
<div>
    <a href="/posts/<%= post.id %>/edit">
        <button>Editar</button>
    </a>
</div>
<div>
    <form action="/posts/<%= post.id %>?_method=DELETE" method='POST'>
        <input type="submit" value='Delete'>
    </form>
</div>


<h2>Hacer un comentario</h2>
<form action="/posts/<%= post.id %>/reviews" method='POST'>
    <textarea name="review[body]" cols="30" rows="10" required></textarea>
    <input name="review[rating]" type="number" min="1" max="5" step="1" required>
    <input type="submit">
</form>
<h3>Comentarios</h3>
<%# display all reviews %>
<% post.reviews.forEach(function(review) { %>
    <div>
        <strong><%= review.author.username %></strong><br>
        <%= review.body %><br>
        Rating: <%= review.rating %>
    </div>
    <div>
        <%# add toggle edit button to the post show view %>
        <button class="toggle-edit-form">Editar</button>
        <%# add edit form to the post show view %>
        <form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
            <textarea name="review[body]" cols="30" rows="10" required><%= review.body %></textarea>
            <input name="review[rating]" type="number" min="1" max="5" step="1" value="<%= review.rating %>" required>
            <input type="submit" value="Update">
        </form>
    </div>
    <hr>
<% }); %>

<script>
    $('.toggle-edit-form').on('click', function() {
        // toggle the edit button text on click
        $(this).text() === 'Editar' ? $(this).text('Cancelar') : $(this).text('Editar');
        // toggle visibility of the edit review form
        $(this).siblings('.edit-review-form').toggle();
    });
</script>